* {
	box-sizing: border-box;
	font-size: 25px;
	font-size: larger;
	color: white;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bolder;
	text-shadow: 1px 1px 2px rgb(60, 13, 13), 0 0 1em black, 0 0 0.6em black;
}
body {
	background-color:black; 
}
header, h1 {
	margin-top: 40px;
	height: 70px;
	font-size: 25px;
	font-weight: bolder;
	text-align: center;
	font-weight: bolder;
	filter: brightness(90%);
}
h1:hover {
	color: rgb(142, 138, 138);
} 
.headline {
	margin: auto; 
	background-position: center;
	height: 90px;
	background-color: rgb(110, 104, 94, 0.75); /* neljäs arvo läpinäkyvyys */
	padding: 2%;
	font-size: 35px;
	filter: brightness(90%);
} 
.users {
	height: 100%;
	background-color: rgb(110, 104, 94, 0.75); /* neljäs arvo läpinäkyvyys */
	margin: auto; 
	background-position: center;
	/* background-repeat: no-repeat; */
	padding: 2%;
}
footer {
	margin-top: 60px;
	height: 220px;
	display: flex;
	justify-content: center; /* Keskittää sisällön vaakasuunnassa */
	align-items: center; /* Keskittää sisällön pystysuunnassa */
}
address {
	font-size: 20px;
	color: white; /* Valkoinen teksti */
	text-align: center; /* Keskittää tekstin vaakasuunnassa */
	padding: 20px; /* Pienennetty paddingia */
	font-weight: bolder;
	filter: brightness(90%);
	text-shadow: 1px 1px 2px rgb(60, 13, 13), 0 0 1em black, 0 0 0.6em black;
}