* {
    box-sizing: border-box;
    font-size: 25px;
    font-size: larger;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgb(60, 13, 13), 0 0 1em black, 0 0 0.6em black;
}
body {
	background-color: black;
	}
header, h1 {
	background-color:black;
	color: white;
    margin-top: 40px;
    height: 70px;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    font-weight: bolder;
    filter: brightness(90%);
}
.text {
	background-color: rgb(110, 104, 94, 0.75); /* neljäs arvo läpinäkyvyys */
    margin: auto; 
    background-position: center;
	height: 50px;
	}
.text h1 {
	color: black;
	padding: 0.5em; /* täyttö elementin sisällä */
	text-align: center;
	}
.users {
	background-color: rgb(110, 104, 94, 0.75); /* neljäs arvo läpinäkyvyys */
    margin: auto; 
    background-position: center;
	height: 100%;
	padding: 20px;
	font-size: large;
	text-align: center;
	}