* {
    box-sizing: border-box;
    font-size: larger;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgb(60, 13, 13), 0 0 1em black, 0 0 0.6em black;
}
body {
    background-color:black; 
}
header, h1 {
    background-color: black;
    margin-top: 40px;
    height: 70px;
    font-size: 25px;
    text-align: center;
    filter: brightness(90%);
}
.headline {
    display: flex; /* tehdään elementistä flex */
    align-items: center; /* tasataan elementit keskeltä pystysuunnassa*/
    width: 100%;
    margin: auto; 
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    /* filter: brightness(80%); */
} 
.headline p {
    font-size: 40px;
    padding-left: 15%;
    padding-top: 5%;
}
.content {
    background-color: rgb(194, 192, 192); /* taustaväri */
    margin: auto; 
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 0.5%;
    padding-bottom: 1.5%;
}
.content h2, p, table { 
    margin-left: 2%;
}
.content a { 
    margin-left: 2%;
    color: black;
}
footer {
    margin-top: 60px;
    height: 220px;
    display: flex;
    justify-content: center; /* Keskittää sisällön vaakasuunnassa */
    align-items: center; /* Keskittää sisällön pystysuunnassa */
}
address {
    font-size: 20px;
    color: white; /* Valkoinen teksti */
    text-align: center; /* Keskittää tekstin vaakasuunnassa */
    padding: 20px; /* Pienennetty paddingia */
    font-weight: bolder;
    filter: brightness(90%);
    text-shadow: 1px 1px 2px rgb(60, 13, 13), 0 0 1em black, 0 0 0.6em black;
}