* {
    box-sizing: border-box;
    font-size: larger;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
body {
    background-color:black; 
}
header, h1 {
    background-color: hsla(50, 3%, 1%, .95);
    margin-top: 40px;
    height: 70px;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    font-weight: bolder;
    filter: brightness(90%);
}
.headline {
    display: flex; /* tehdään elementistä flex */
    align-items: center; /* tasataan elementit keskeltä pystysuunnassa*/
    width: 100%;
    margin: auto; 
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    /* filter: brightness(80%); */
} 
.headline p {
    font-size: 40px;
    padding-left: 25%;
    padding-top: 25%;
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgb(60, 13, 13), 0 0 1em black, 0 0 0.6em black;
}
.content {
    background-color: rgb(194, 192, 192); /* taustaväri */
    margin: auto; 
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 0.5%;
    padding-bottom: 1.5%;
}
.content h2, p, table { 
    margin-left: 2%;
}
.content a { 
    margin-left: 2%;
    font-size: large;
    color: black;
}
footer {
    background-color: black;
    margin-left: 20%; /* asetetaan marginaali */
    margin-right: 20%; /* asetetaan marginaali */
    height: 400px;
}